
<div class="footer-attribution"><span class="footer-attribution__copyright">Online Advantage By:&nbsp;<a href="http://roostergrin.com/" target="_blank">Rooster Grin Media<img src="http://roostergrin.com/images/rg-logo-white.svg"/></a></span></div>