
{% extends 'layout.twig' %}
{% block content %}
<section class="{{ post.slug }}">
  {{post.title}}
  {% for post in posts %}
  {% include ['components/custom-preview-'~post.post_type~'.twig', 'components/custom-preview.twig'] %}
  {% endfor %}
</section>{% endblock %}