| {% extends 'layout.twig' %}

| {% block content %}
section(id='post-{{post.ID}}' class='post-type-{{post.post_type}}')
	//- | {{post.title}}
	| {% for post in posts %}
	| {% include ['custom-preview-'~post.post_type~'.twig', 'custom-preview.twig'] %}
	| {% endfor %}
| {% endblock %}
