article.custom-preview(id='custom-preview-{{ post.ID }}' class='custom-preview custom-preview-{{ post.post_type }}')

	| {% block content %}
	h2.custom-preview__title
		a(href='{{ post.link }}')
			| {{ post.title }}
	p.custom-preview__copy
		| {{ post.get_preview }}
	| {% if post.get_thumbnail %}
	img.custom-preview__image(src='{{ post.thumbnail.src }}')
	| {% endif %}
	| {% endblock %}