doctype html
<!--[if lt IE 7]><html class="no-js ie ie6 lt-ie9 lt-ie8 lt-ie7" {{site.language_attributes}}> <![endif]-->
<!--[if IE 7]><html class="no-js ie ie7 lt-ie9 lt-ie8" {{site.language_attributes}}> <![endif]-->
<!--[if IE 8]><html class="no-js ie ie8 lt-ie9" {{site.language_attributes}}> <![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" {{ site.language_attributes }}> <!--<![endif]-->
html(lang='{{ site.charset }}')
  head
    title
      | {% if wp_title %}
      | {{ wp_title }} - {{ site.name }}
      | {% else %}
      | {{ site.name }}
      | {% endif %}

    // General META
    meta(charset='UTF-8')
    meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(rel='pingback' href='{{ site.pingback_url }}')

    // Responsive META
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

    // SEO META
    meta(name='description' content='{{ site.description }}')

    // Favicon
    //- link(rel='icon', href='{{ img }}/client-favicon.png')

    // Load Typekit Scripts
    //- script(src='https://use.typekit.net/pjw4qib.js')
    //- script.
    //-   try{Typekit.load({
    //-     async: true,
    //-     classes: false
    //-   });}catch(e){}

    // Google Tag Manager
    //- script.
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-PKCQ2N2');
    | {{ function('wp_head') }}

  body(class='{{body_class}} {{ post.slug }}' data-template='base.twig')
    // Google Tag Manager (noscript)
    //- noscript
      iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-PKCQ2N2', height='0', width='0', style='display:none;visibility:hidden')

    span.svg-sprite
      | {% include '/icons/color.svg' %}
      | {% include '/icons/no-color.svg' %}

    header(class='header')
      | {% block header %}
      | {% include 'components/nav-desktop.twig' %}
      //- | {% include 'components/nav-mobile.twig' %}
      | {% endblock %}

    main.main-content(role='main')
      //- h1 {{ title }}
      .main-content__container(class='{{ sidebar_class }}')
        | {% block content %}
        | Sorry, no content
        | {% endblock %}
      | {% if sidebar %}
      aside.layout-sidebar
        | {{sidebar}}
      | {% endif %}

    | {% block footer %}
    footer#footer
      | {% include 'components/footer-main.twig' %}
    | {{ function('wp_footer') }}
    | {% endblock %}
